@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
* {
  background-color: #0e0e12;
}

.FooterSection *{
  background-color: #FFF !important;
}

.NavbarSection *{
  background-color: rgb(0 0 0 / 50%) !important;
}

.HeroSection {
  // position: relative;
  padding-top: 4rem;
    height: 100vh;
  &__image1 {
    position: absolute;
    width: 30rem;
    background: none;
    left: 55rem;
    // z-index: -1;
    @include respondAt(915px) {
      display: none;
    }
  }
  &__image2 {
    position: absolute;
    width: 30rem;
    background: none;
    @include respondAt(915px) {
    //   display: none;
    width: 15rem;
    left: -1rem;
    }
  }
}
